comment.cut
mainthesis.acn
mainthesis.aux
mainthesis.glo
mainthesis.glsdefs
mainthesis.ist
mainthesis.lof
mainthesis.log
mainthesis.lot
mainthesis.out
mainthesis.pdf
mainthesis.synctex.gz
mainthesis.toc
